*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color:rgb(216, 112, 112) ;
}

.box{
  background-color: black;
  position: relative;
  width: 388px;
  height: 420px;
  border-radius: 8px;
  overflow: hidden;
}
.box::before{
  content: "";
  position: absolute;
  top:-50% ;
  left: -50%;
  width: 380px;
  height: 428px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  transform-origin: bottom right;
  animation: animate  6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate{
  0%
{
  
}
}

