
*{
  padding: 0;
  margin: 0;
}
.main{
  scroll-behavior: smooth;
  display: flex;
}
.menu-colum{
  position: sticky;
  top: 0;
}
.menu h1{
  white-space: nowrap;
  padding: 40px;
}
.menu{
  background-color: darkcyan;
}
.menu li{
  padding: 30px;
}
.menu a{
  text-decoration: none;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color:gold
}
.menu ul{
  text-align: center;
  list-style: none;
}
.contenido{
  background-color: goldenrod;
  padding: 40px;
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.contenido h1{
  text-align: center;
  padding-top: 10px;
  font-size:60px;
}
.contenido h2{
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) { 
  .menu{
    padding: 5px;
  }
  .contenido{
    padding-right: 70px;
  }
  .menu-colum{
    top: 0;
    padding-top: 10px;
    position: sticky;
  }
}